@font-face {
    font-family: kashimaBrush;
    src: url('../assets/font/kashima_brush.otf');
}

@font-face {
    font-family: retroGaming;
    src: url('../assets/font/retro_gaming.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #071952;
    color: #000000;  
    font-family: "Poppins", sans-serif;
}

header h1 {
    text-align: center;
    color: #ca0b4a;
    font-family: kashimaBrush;
    margin: 20px 0 0 0;
    font-size: 3.3rem;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    width: 100%;
}

canvas {
    border: 4px solid #088395;
    border-radius: 8px;
    background-color: #37B7C3;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.btns > button {
    cursor: pointer;
    border-style: none;
    margin: 0;
    width: 65px;
    height: 65px;
    user-select: none;
}

.btns > button#up  {
    background: url('../assets/icons/arrow_up.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btns > button#left  {
    background: url('../assets/icons/arrow_left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btns > button#right  {
    background: url('../assets/icons/arrow_right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btns > button#down  {
    background: url('../assets/icons/arrow_down.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btns > button:not(:last-child) {
    margin-right: 10px;
}

.restart {
    margin-left: 30px;
    border-radius: 100px;
    box-shadow: rgba(8, 130, 149, 0.2) 0 -25px 18px -14px inset,rgba(8, 130, 149, 0.15) 0 1px 2px,rgba(8, 130, 149, 0.15) 0 2px 4px,rgba(8, 130, 149, 0.15) 0 4px 8px,rgba(8, 130, 149, 0.15) 0 8px 16px,rgba(8, 130, 149, 0.15) 0 16px 32px;
    color: #EBF4F6;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: url('../assets/icons/arrow_restart.png');
    background-size: 56px;
    background-position: center;
}

.restart:hover {
    box-shadow: rgba(8, 130, 149, 0.35) 0 -25px 18px -14px inset,rgba(8, 130, 149, 0.25) 0 1px 2px,rgba(8, 130, 149, 0.25) 0 2px 4px,rgba(8, 130, 149, 0.25) 0 4px 8px,rgba(8, 130, 149, 0.25) 0 8px 16px,rgba(8, 130, 149, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    background: url('../assets/icons/arrow_restart_hover.png');
    background-size: 56px;
    background-position: center;
}

.modal { 
    border: 4px solid #088395;
    border-radius: 8px;
    background-color: #37B7C3;
    color: #EBF4F6;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
}

.modal h1 {
    text-align: center;
}

.modal > button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #EBF4F6;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal p {
    font-size: 14px;
}

.modal #flags-container {
    display: flex;
    justify-content: space-evenly;
}

.modal #flags-container button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto 0 auto;
    width: 80%;
    max-width: 460px;
}

.messages .internal-container {
    width: 55%;
}

.messages button {
    border-style: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background: url('../assets/icons/help.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.messages button:hover {
    background: url('../assets/icons/help_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.messages button img {
    height: 60px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

@media (max-width: 600px) {
    button { 
        margin: 5px; 
    }
    
    #up, #down {
        margin-left: 100%; margin-right: 100%;
    }

    .restart {
        margin-left: 0px;
        margin-top: 30px;
    }
}